{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<nav class="nav-main">
    <div class="region region-header-menu">
        <div id="block-system-main-menu" class="block block-system block-menu">
            <div class="content">
                <ul class="nav nav-pills nav-main" id="mainMenu">
                    <li class="dropdown 218 active">
                        
                        <a href="#" class="dropdown-toggle disabled active">Home</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu active">
                                <a href="#/" title="" class="active">Sliders</a>
                                <ul class="dropdown-menu">
                                    <li class="active">
                                        <a href="#" title="" class="active">Mega Slider</a>
                                    </li>
                                    <li>
                                        <a href="/sync_dev/nivo-slider">Nivo Slider</a>
                                    </li>                                                
                                </ul>                                        
                            </li>
                            <li class="active">
                                <a href="/sync_dev/" title="" class="active">Home - Default</a>
                            </li>
                            <li>
                                <a href="/sync_dev/one-page" title="">One Page Site</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown 1777">
                        
                        <a href="/sync_dev/about-us" title="" class="dropdown-toggle disabled">About Us</a>
                        <ul class="dropdown-menu">
                            <li><a href="/sync_dev/about-us" title="">About Us</a></li>
                            <li><a href="/sync_dev/about-us-basic">About Us - Basic</a></li>
                            <li><a href="/sync_dev/team/john-doe">About Me</a></li>
                        </ul>
                    </li>
                    <li class="dropdown 346">
                        
                        <a href="/sync_dev/features" title="" class="dropdown-toggle disabled">Features</a>
                        <ul class="dropdown-menu">
                            <li><a href="/sync_dev/grid-system">Grid System</a></li>
                            <li><a href="/sync_dev/icons">Icons</a></li><li><a href="/sync_dev/pricing-tables">Pricing Tables</a></li><li><a href="/sync_dev/elements">Elements</a></li><li><a href="/sync_dev/animations">Animations</a></li><li><a href="/sync_dev/typography">Typography</a></li></ul></li><li class="dropdown 347"><a href="/sync_dev/portfolio" title="" class="dropdown-toggle disabled">Portfolio</a><ul class="dropdown-menu"><li><a href="/sync_dev/portfolio" title="">4 Columns</a></li><li><a href="/sync_dev/3-columns" title="">3 Columns</a></li><li><a href="/sync_dev/2-columns" title="">2 Columns</a></li><li><a href="/sync_dev/portfolio-lightbox">Portfolio Lightbox</a></li><li><a href="/sync_dev/portfolio-timeline">Portfolio Timeline</a></li><li><a href="/sync_dev/portfolio-full-width" title="">Portfolio Full Width</a></li><li><a href="/sync_dev/portfolio/25">Single Project</a></li></ul></li><li class="dropdown 348"><a href="/sync_dev/pages" class="dropdown-toggle disabled">Pages</a><ul class="dropdown-menu"><li class="dropdown-submenu"><a href="/sync_dev/blog" title="">Blog</a><ul class="dropdown-menu"><li><a href="/sync_dev/blog-full-width">Blog Full Width</a></li><li><a href="/sync_dev/blog" title="">Blog With Sidebar</a></li><li><a href="/sync_dev/blog-timeline">Blog Timeline</a></li><li><a href="/sync_dev/blog/29">Single Post</a></li></ul></li><li><a href="/sync_dev/full-width">Full Width</a></li><li><a href="/sync_dev/left-sidebar">Left Sidebar</a></li><li><a href="/sync_dev/right-sidebar">Right Sidebar</a></li><li><a href="/sync_dev/custom-header">Custom Header</a></li><li><a href="/sync_dev/404-error">404 Error</a></li><li><a href="/sync_dev/team">Team</a></li><li><a href="/sync_dev/services">Services</a></li><li><a href="/sync_dev/careers">Careers</a></li><li><a href="/sync_dev/faq">FAQ</a></li></ul></li><li><a href="/sync_dev/contact-us">Contact Us</a></li></ul>  </div>
                </div>
  </div>
        </nav>
	<div class="row">
		<h2>Create your snippet's HTML, CSS and Javascript in the editor tabs</h2>
	</div>
</div>
{% endblock %}

{% block stylesheets %}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
            integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">    
    <link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
{% endblock %}
